*{
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color:#000;
}

header{
  position: fixed;
  border-bottom:1px solid gray;
  width: 100%;
  height: 80px;
  background-color: white;
}

.head{
  width: 1180px;
  height: 80px;
  margin: auto;
  background-color: white;

}

.account{
  display: flex;
  margin-left: 1100px;
  margin-right: 20px;
}
.account > li >div{
  flex: 1;
  text-align: center;
  width: 35px;
  height: 35px;
  margin-top: 25px;
  border: 0.5px solid rgba(227, 228, 226,1);
  margin-left: -25px;
  border-radius: 10px;
}
.account > li:not(:last-child) >div{
  margin-right: 40px;
}
.nav{
  position: absolute;
  top:0px;
  right: 600px;
  display: flex;
  width: 600px;
  height: 80px;
}

.nav>li{
  flex: 1;
  font-weight: bold;
  margin: auto;
  margin-left: 5px;
  cursor: pointer;
}



.nav >li:nth-child(5) >div{
  margin-left: 17px;
}

.logo > a >img{
  position: absolute;
  width: 50px;
  height: 50px;
  top:15px;
  left: 390px;
}

.contents{
  position: relative;
  line-height: 25px;
  letter-spacing: -0.5px;
  font-size: 24px;
  top:-28px;
  left:90px;
}

.sub-contents{
  position: absolute;
  color: red;
  font-weight: lighter;
  font-size: 13px;
  top:-21px;
  left:2px;
}
